<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ionic Model :: Cards Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="produtos">
  <ion-card class="welcome-card" *ngFor="let produto of produtos">
    <img src="produto.foto" alt="" />
    <ion-card-header>
      <ion-card-subtitle>{{produto.nome}}</ion-card-subtitle>
      <ion-card-title>{{produto.descricao}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <strong color="danger">{{poduto.valor | currency: "BRL"}}</strong>
    </ion-card-content>
  </ion-card>
 
</ion-content>